
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

#AlpagaImg {
  object-fit: cover;
  height: 500px;
  width: 500px;

}